#assistant-styles {
  .MuiAvatar-root.MuiAvatar-circle {
    margin: auto;
    width: 125px;
    height: 125px;
  }
  h3 {
    text-align: center;
  }
  .MuiTypography-root.MuiTypography-body1 {
    text-align: center;
  }
  span.MuiButtonBase-root.MuiIconButton-root.MuiRadio-root.MuiRadio-colorSecondary.MuiIconButton-colorSecondary {
    display: none;
  }
  button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
    margin-top: 10px;
    color: #ffffff;
    text-transform: none;
    width: 100px;
    border-radius: 20px;
  }
}
