.DS_Store
node_modules/*
*node_modules/*
uploads/*
temp/*
uploads_csv/*
/.idea
/.vscode
/.history
/config/env/*.env
*/package-lock.json
/config/_swagger.json
/config/virtuals
!/uploads/.gitkeep
!/temp/.gitkeep
/temp
/uploads
!/uploads/chat/.gitkeep
/uploads/chat
*package-lock.json
/cron/env/*.env
*nodemon.json
